// Place all the styles related to the studies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question_card{
    text-align:center;
    padding:70px;
    margin:80px;
    line-height:80px;
}

.answer_button{
    text-align:center;
}
